body {
    background: url("../assets/resources/background-resource-forest.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.introduction, .information, .instructions {
    margin: 0;  
    padding: 2em;
    text-align: center;
    font-size: 1.4em;   
}

canvas {        
    -webkit-box-shadow: 5px 5px 5px 5px #bc70ff, inset 15px 15px 15px 15px #bc70ff, 24px 24px 24px -24px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 5px #bc70ff, inset 15px 15px 15px 15px #bc70ff, 24px 24px 24px -24px rgba(0,0,0,0);
}   

h2 {    
    font-family: 'Lobster', calibri, Arial, Helvetica, sans-serif, cursive;
    color: rgb(233, 40, 255);
    margin: 0;  
    padding: 0.5em;
    text-shadow: 2px 2px black;
}

.under-canvas {
    display: block;
    margin: 0 auto;
    text-align: center;
}

ol, p {
    color: white;
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 2px black;
    font-size: 1.1em;
}