@import  url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url("../assets/resources/background-resource.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.introduction, .information, .instructions {
    margin: 0;  
    padding: 1em 2em 1em 2em;
    text-align: center;
    font-size: 1.4em;   
}

canvas {        
    -moz-box-shadow:    0px 0px 5px 5px #282a2d;
    -webkit-box-shadow: 0px 0px 5px 5px #282a2d;
    margin-bottom: 1em;
}

#game-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#phaser-canvas {
    display:inline-block;
    position: relative;
}

/* User Stories / Scenarios */
.text-box-div {
    /* Crucial - Text box div is invisible on instantiation */
    /* Pressing `Enter` will make it visible*/
    /* Pressing `Enter` again, with an empty message will hide the chat box div again*/
    /* Pressing `Enter` again, with a non-empty message will display the message and hide the chat box div again*/
    position:absolute; 
    display: inline-block;
    bottom:20px; 
    left:20px;
    visibility: hidden;
    background-color:rgba(0, 0, 0, 0.25);
}

#text-box {
    width: 14.85em;
    opacity: 0.45;

    background: #F2F2F2;
    
    border: 1px solid #CCCCCC;
    border-radius: 2rem;
    outline: none;

    color: #424242;
    letter-spacing: 1px;
    text-indent: 1rem;
    font-size: 0.75em;
}

#text-box:focus {
    opacity: 0.85;
}

.chat-container {
    position: absolute;
    bottom:40px; 
    left:25px;
    width: 15em;
    height: 10em;
    display: inline-block;
}

.chat-log-wrapper {
    position:absolute;
    width: 13em;
    height: auto;
    bottom:60px; 
    left:20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    line-height: 1.25em;
}

.chat-log {
    position: relative;
    max-height: 12.5em;
}

h2 {    
    font-family: 'Lobster', calibri, Arial, Helvetica, sans-serif, cursive;
    color: lime;
    margin: 0;  
    padding: 0.5em;
    text-shadow: 2px 2px black;
}

.under-canvas {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.message {
    font-family: calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 0.85em;
    word-wrap: break-word;
    z-index: 60;
    opacity: 1.0;
    text-align: left;
    padding:0.040em;
}

.game-title {
    font-size: 2em;
}

.login-screen-interface {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login-text-box > input {
    margin: 0 auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.login {
    padding: 1em;
}

#login-name {
    /* each face will be 40px high */
	line-height: 40px; height: 40px;
    background: hsl(120, 40%, 20%);
    background: white; outline: none; border: 0 none;
	font: comic; text-align: left; color: hsl(120, 40%, 30%);
	display: block; width: 25%; padding: 0 10px;
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
    font-size: 0.8em;
    padding: 3px 0 0 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Roboto', 'calibri', Arial, Helvetica, sans-serif, monospace;
    color: black;
    font-weight: italic;
    opacity: 0.5; /* Firefox */
  }

ol, p {
    color: white;
    text-align: center;
    margin: 0 auto;
    text-shadow: 2px 2px black;
    font-size: 0.85em;
}

/* Button */
/* Download Button  */
.login-text-button {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-button {
    width: 200px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#login-button:hover {
    background-color: rgb(0, 194, 23);
    box-shadow: 0px 5px 10px rgba(21, 253, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }