@import  url(https://fonts.googleapis.com/css?family=Montserrat);

html { visibility:hidden; }

.wrapper {
    z-index:1000;
    position: absolute;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0);
}

.introduction, .information {
    margin: 0;  
    padding: 1em 2em 1em 2em;
    text-align: center;
    font-size: 1.4em;   
}

.introduction > h2 {
    font-family: cursive, calibri, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    color: #1fa8ab;
    margin: 0;  
    padding: 0.5em;
    text-shadow: 1px 1px black;
}

.introduction > h2 > span {
    color: white;
}

.instructions-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media screen and (min-width: 1600px) {
    #game-canvas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        align-self: start;
    }
}

@media screen and (max-width: 1300px) {
    .canvas-and-instructions-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .instructions-wrapper {
        width: 40%;
    }
    #game-canvas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        align-self: center;
    }
  }
  

.instructions {
    background: rgba(10,105,112, 0.75); 
    text-align: left;
    border: 1px solid white;
    font-family: cursive, 'Courier New', Courier, monospace;
}

.instructions > ol {
    width: 80%;
    color: white;
}

.instructions > ol > li {
    padding-bottom: 0.5em;
}

.instructions > h2 {
    color: white;
    text-align: center;
}

canvas {        
    -moz-box-shadow:    0px 0px 5px 5px #282a2d;
    -webkit-box-shadow: 0px 0px 5px 5px #282a2d;
    margin-bottom: 1em;
}

#phaser-canvas {
    display:inline-block;
    position: relative;
}

.canvas-and-instructions-wrapper {
    display: flex;
    gap: 2em;
    padding: 3em 0;
}

/* User Stories / Scenarios */
.text-box-div {
    /* Crucial - Text box div is invisible on instantiation */
    /* Pressing `Enter` will make it visible*/
    /* Pressing `Enter` again, with an empty message will hide the chat box div again*/
    /* Pressing `Enter` again, with a non-empty message will display the message and hide the chat box div again*/
    position:absolute; 
    display: inline-block;
    bottom:20px; 
    left:20px;
    visibility: hidden;
    background-color:rgba(0, 0, 0, 0.25);
}

#text-box {
    width: 14.85em;
    opacity: 0.45;

    background: #F2F2F2;
    
    border: 1px solid #CCCCCC;
    border-radius: 2rem;
    outline: none;

    color: #424242;
    letter-spacing: 1px;
    text-indent: 1rem;
    font-size: 0.75em;
    font-family: calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span {
    color: white;
}

.info-span {
    color: #2adce2;
    font-size: 0.95em;
    font-family: "Press Start 2P", calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif color;
}

#text-box:focus {
    opacity: 0.85;
}

.chat-container {
    position: absolute;
    bottom:40px; 
    left:25px;
    width: 15em;
    height: 10em;
    display: inline-block;
}

.chat-log-wrapper {
    position:absolute;
    width: 13em;
    height: auto;
    bottom:60px; 
    left:20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    line-height: 1.25em;
}

.chat-log {
    display: inline-block;
    position: relative;
    max-height: 12.5em;
}

.game-title > h2 {
    font-family: 'Press Start 2P', calibri, Arial, Helvetica, sans-serif, cursive;
    font-size: 0.75em;
    line-height: 2em;
    color: white;
    margin: 0;  
    padding: 0.5em;
    text-shadow: 1px 1px black;
}

.message {
    display: block;
    font-family: calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 0.85em;
    word-wrap: break-word;
    z-index: 60;
    opacity: 1.0;
    text-align: left;
    padding:0.040em;
}

.game-title {
    font-size: 2.5em;
}

.login-screen-interface {
    position: absolute;
    top: -40%;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    width:100%;
    height: 30%;
    text-align: center;
}

.login-text-box > input {
    margin: 0 auto;
    height: 30px !important;
    width: 220px !important;
    font-size: 14px !important;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
}

.login {
    padding: 1em;
}

#login-name {
    /* each face will be 40px high */
	line-height: 40px; height: 40px;
    background: hsl(20, 100%, 99%);
    outline: none; border: 0 none;
    text-align: left; color: hsl(0, 0%, 0%);
	display: block; width: 25%; padding: 0 10px;
    box-sizing: border-box;
    font-family: Roboto, calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.2em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Roboto', 'calibri', Arial, Helvetica, sans-serif, monospace;
    color: black;
    font-weight: initial;
    opacity: 0.5; /* Firefox */
}


/* Button */
/* Download Button  */
.login-text-button {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-button {
    width: 200px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#login-button:hover {
    background-color: rgb(0, 194, 23);
    box-shadow: 0px 5px 10px rgba(21, 253, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
